@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Jolly+Lodger&family=Modak&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: "ProximaNova", "Helvetica", "Arial", sans-serif;
}

.container{
    padding-bottom: 5%;
    box-sizing: border-box;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}
.leftSide{
    width: 25%;
}
.userInfoMain{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.userImg{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.userNames{
  margin-left: 10px;
}
.rightSide{
    width: 40%;
    margin-left: 5%
}
.userDegree{
  margin-top: 10px;
  background-color: yellow;
  display: inline-block;
  padding: 0.5rem;
  border: 0.2rem black solid;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bolder;
}
.puanify{
  font-size: 1rem;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.puanify img{
  width: 2rem;
  height: 2rem;
  
}
.puanify p{
  margin-left: 5px;
}
.puanify i{
  margin-left: 5px;
}
.puanify i:hover{
  cursor: pointer;
}
.stats{
  display: flex;
  margin-top: 5%;
  text-align: center;
  justify-content: space-between;
  width: 80%;
}
.stats h2{
  margin-top: 5px;
}
.userAbout{
  margin-top: 30px;
}
.userAbout h2{
  margin-bottom: 15px;
  font-size: 1.4rem;
}
.userAbout div{
  margin-bottom: 7px;
}
.userAbout div i,.userAbout div h5,.userAbout div p{
  display: inline;
  font-size: 1.2rem;
}

.userAbout div i{
  margin-right: 5px;
}

.setProfile{
  margin-top:50px;
  text-align: center;
  margin-bottom: 50px;
  width: 80%;
}
.setProfile i{
  font-size: 1.1rem;
  margin-right: 5px;
}
.setProfile button{
  padding: 8px;
  width: 100%;
  border-radius: 9px;
  border: none;
  background-color: #ebf2f7;
  font-size: 1.2rem;
}
.setProfile button:hover{
  background-color: #cecfd0;
  transition: background-color 0.2s;
  cursor: pointer;
}

.navBar{
  margin-top: 10px;

  text-align: center;
}
.navBar button:nth-child(2){
  margin-left: 30px;
}
.navBar button{
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 300;
}

.navBar button:nth-child(1){
  border-bottom: 1.5px blue solid;
}
.navBar button:hover{
  background-color: #ebf2f7;
  transition: background-color 0.3s;
  cursor: pointer;
}

.content{
  background-color: #ebf2f7;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 35rem;
  max-height: 35rem;
  margin: 30px;
  margin-top: 20px;
}
.content p{
  display: inline-block;
}
.questions{
  height: 35rem;
  overflow-y: auto;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; 
}


.soruDiv{
  height: 15rem;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 10px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.soruDiv img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.soruDiv p{
  width: 20%;
}



@media screen and (max-width: 1000px) {
    html {
      font-size: 9px;
    }
    
  }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 6px;
    }
    .container{
      display: block;
    }
    .leftSide{
      margin-top: 40px;
      margin-left: 25%;
      width: 50%;
    }
    .rightSide{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
  }
  @media screen and (max-width: 550px) {
    html {
      font-size: 5px;
    }
    
  }
  