@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chokokutai&family=Jolly+Lodger&family=Modak&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 9px;
  font-family: "ProximaNova", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: #2b4360;
  height: 7rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.header-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.header-left-side h3 {
  margin-left: 4rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  font-family: "Ubuntu", sans-serif;
}

.header-left-side img {
  width: 5rem;
  height: 5rem;
}

.header-mid-side {
  position: relative;
  display: inline-block;
  width: 50%;
}

.search-input {
  width: 100%;
  padding: 1.5rem;
  height: 0.4rem;
  font-size: 1.2rem;
  border: 2px solid gray;
  border-radius: 1.2rem;
  box-sizing: border-box;
  outline: none;
}

.header-mid-side .icon {
  position: absolute;
  right: 0.1rem;
  top: 1.6rem;
  transform: matrix(1, 0, 0, 1, 0, -16);
  transform: translateY(-50%);
  font-size: 1.8rem;
  pointer-events: none;
  margin-right: 1rem;
  color: grey;
}

.header-right-side a {
  text-decoration: none;
  text-transform: uppercase;
}

.button-text {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  height: 3rem;
  font-weight: 700;
  width: 8rem;
  background-color: #2b4360;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 2rem;
}

.button-text:hover {
  color: #2b4360;
  background-color: #fff;
  border: 1px solid #2b4360;
  border-radius: 5px;
  transition: 0.5;
  font-weight: 700;
}

.header-right-side-icon {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  margin: 1.5rem;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 7%;
}

.nav-bar {
  width: 20%;
  order: -1;
  margin-left: 2rem;
  height: auto;
  box-sizing: border-box;
}

.nav-bar h3 {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid grey;
}

.nav-bar-items {
  list-style: none;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

.nav-bar-item a {
  text-decoration: none;
  color: black;
  margin-left: 1.3rem;
}

.nav-bar-item {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.nav-bar-items-icon {
  cursor: pointer;
}

.side-bar {
  width: 20%;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid #ebf2f7;
  border-radius: 8px;
  height: 35rem;
}

.side-bar-title {
  display: flex;
  align-items: center;
}

.side-bar-title .icon {
  font-size: 1.6rem;
  color: #c98600;
  margin-right: 8px;
}

.side-bar h3 {
  font-size: 1.8rem;
  width: 90%;
}

#side-bar-select {
  font-size: 1.6rem;
  width: 100%;
  border: 2px solid #ebf2f7;
  border-radius: 20px;
  height: 4rem;
  display: inline-block;
  padding: 0 36px 0 16px;
  margin: 8px;
}

.side-bar-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.side-bar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.side-bar-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.side-bar-item .user-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.side-bar-item .score {
  font-size: 1.5rem;
  font-weight: 700;
}

.quest {
  max-width: 60rem;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #e0e0e0;
  height: 23rem;
}

.content-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header .profile {
  display: flex;
  align-items: center;
}

.content-header .profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
}

.content-header .profile span {
  font-weight: bold;
  color: #333;
  margin-left: 1rem;
}

.content-header .konu {
  font-size: 1.4rem;
  color: #777;
}

.questions {
  padding: 15px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.answer button {
  padding: 8px 16px;
  background-color: #2b4360;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
}

.answer button:hover {
  background-color: #fff;
  color: #2b4360;
  transition: 0.5s;
}

.answer i {
  color: #c98600;
  font-size: 1.4rem;
}

.points {
  color: #555;
  font-size: 1.4rem;
  position: absolute;
  left: 3rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 8px;
  }
  .header-left-side h3 {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 6px;
  }
  .header-mid-side .icon {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 5px;
    top: 2.5rem;
  }
  .header-mid-side .icon {
    display: none;
  }
}
